body {
        background-color: gray;
    }

.wrap{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    align-content: center;
}

.text{
    width: 405000px;
    margin-top: 24%;
    vertical-align: middle;
font-family: Helvetica, Arial, Sans-Serif;
    font-size: 4em;
}




@media screen and (min-width: 660px) {
    body {
        background-color: lightgreen;
    }
    
    .wrap{
    height: 100%;
    width: 100%;
    align-content: center;
}

.text{
    width: inherit;
    vertical-align: middle;
font-family: Helvetica, Arial, Sans-Serif;
    font-size: 4em;
    
    
    
    
}
    
    
    
}



