.wrap{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    align-content: center;
}

.text{
    width: 405000px;
    margin-top: 24%;
    vertical-align: middle;
font-family: Helvetica, Arial, Sans-Serif;
    font-size: 4em;
}

